{% extends "base/layout.html" %}
{% block body %}
{% for user in users %}
<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ user.get_username|upper|default:"Card title" }}</h4>
            <div class="card-subtitle text-muted">{{ user.last_login }}</div>
            <p class="card-text">{{ user.get_short_name|default:"N/A" }}</p>
            <a href="#" class="btn btn-primary btn-sm">{{ user.email|default:"someone@example.com" }}</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock body %}